@model MIST143_Traveler.MViewModel.會員中心檢視優惠券
@{
    ViewData["Title"] = "Coupon";
}



<link href="~/css/客服中心.css" rel="stylesheet" />
<link href="~/css/客戶中心訂單內容物.css" rel="stylesheet" />
<link href="~/css/會員中心/優惠券樣式.css" rel="stylesheet" />
<body>
    <div class="col-12 上面空間">
        <h3>優惠券</h3>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="請輸入優惠碼" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-warning 按鈕顏色" type="button" id="button-addon2">兌換</button>
        </div>


        <div class="container row row-2">
            <!--優惠券-->
            <div class="coupon coupon-wave-left coupon-wave-right coupon-yellow-gradient">
                <div class="coupon-info coupon-info-right-dashed">
                    <div class="coupon-store">@Model.優惠券列表.FirstOrDefault().CouponName</div>
                    <div class="coupon-price">¥5.00<span>优惠券</span></div>
                    <div class="coupon-description">訂單滿'@Model.優惠券列表.FirstOrDefault().Condition</div>
                </div>
                <div class="coupon-get">
                    <div class="coupon-desc">副券</div>
                    <div class="coupon-expiry-date">2019.10.01<br />2019.10.30</div>
                </div>
            </div>
            <!--優惠券-->
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}