@model MIST143_Traveler.MViewModel.會員中心檢視優惠券
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "CouponAll";
}
<div class="container" id="COCO">
    <div class="row row-2">
        <!--優惠券-->

        @{
            List<string> Coupon = new List<string>();
            foreach (var co in Model.優惠券列表)
            {
                if (co.CouponStatus == true)
                {
                    Coupon.Add($@"<div class='coupon coupon-wave-left coupon-wave-right coupon-yellow-gradient'>
                                        <div class='coupon-info coupon-info-right-dashed'>
                                            <div class='coupon-store'>{co.CouponName}</div>
                                            <div class='coupon-price'>折扣{(int)co.Discount}<span>優惠券</span></div>
                                            <div class='coupon-description'>訂單限滿{co.Condition}使用</div>
                                        </div>
                                        <div class='coupon-get'>
                                            <div class='coupon-desc'>副券</div>
                                            <div class='coupon-expiry-date'>到期日{co.ExDate}</div>
                                        </div>
                                    </div>");
                }

            }
        }
        @foreach (var g in Coupon)
        {
            @Html.Raw(g);
        }
        <!--優惠券-->
    </div>
</div>