@*@model IEnumerable<MIST143_Traveler.Models.TravelProduct>*@
@using MIST143_Traveler.Models
@model List<TravelProduct>

@{
    ViewData["Title"] = "Default";
}


@{
    <div class="experience-activity-card-section j-experience-activity-card-section desktop">
        @foreach (var item in Model)
        {
            <div class="asdqwr asd">
                <div class="card" style="">
                    <img class="card-img-top" src="../Images/ProductListPageImages/landscape_101.jpg" alt="Card image cap">
                    <div class="card-body">
                        <a href="@Url.Action("List" ,"shopping", new {TravelProductId=item.TravelProductId})">
                            <h3 class="activity-card-title">
                                @*【領券現折100】Klook獨家優惠｜台北101觀景台門票｜萬聖節搗蛋派對｜高空Sky Lounge百萬夜景*@
                                @item.TravelProductName
                            </h3>
                        </a>
                        <div class="page-activity-recommend-score">
                            <span class="page-activity-recommend-score-number">
                                <svg width="12" height="12" class="svg-icon"></svg>
                                <span class="score-rate">4.7</span>
                            </span>
                            <span class="page-activity-recommend-review-number">
                                (
                                <span class="review-number">30K+ 則評價</span>
                                )
                            </span>
                        </div>
                        <div class="activity-card-bottom">
                            <div>
                                <div class="activity-card-price-box home-activity-card_price small-card">
                                    <span class="activity-card-price-box__sell-price dynamic-width-price">NT: @item.Price.ToString("###,###,##0")</span>
                                    @*<span class="activity-card-price-box__underline-price dynamic-width-price"></span>*@
                                </div>
                            </div>
                        </div>
                        <div class="tagging-wrap bottom-tag small-style">
                            <div class="tagging-box">
                                <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                    <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        }
    </div>
}


