
@{
    ViewData["Title"] = "Default";
}

<div class="experience-activity-card-section j-experience-activity-card-section desktop">
    <div class="asdqwr">

        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_101.jpg" alt="Card image cap">
            <div class="card-body">
                <a href="https://localhost:44302/ProductPage/Index">
                    <h3 class="activity-card-title">
                        【領券現折100】Klook獨家優惠｜台北101觀景台門票｜萬聖節搗蛋派對｜高空Sky Lounge百萬夜景
                    </h3>
                </a>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.7</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">30K+ 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                            <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                        </div>
                    </div>
                </div>
                <div class="tagging-wrap bottom-tag small-style">
                    <div class="tagging-box">
                        <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                            <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_bskoc8tnkvymafbwpvvg.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    屏東｜墾丁 鹿境梅花鹿生態園區｜門票｜指定方案贈統一超商虛擬商品卡抵用金100元
                </h3>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.7</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">6,222 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$185</span>
                            <span class="activity-card-price-box__underline-price dynamic-width-price">NT$200</span>
                        </div>
                    </div>
                </div>
                <div class="tagging-wrap bottom-tag small-style">
                    <div class="tagging-box">
                        <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                            <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_frvcre680l3ett2xxspa.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    【即買即用】花蓮｜遠雄海洋公園｜門票・餐點套票｜指定方案贈統一超商虛擬商品卡抵用金100元
                </h3>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.8</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">4069 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">
                                NT$ 1,560
                            </span>
                            <span class="activity-card-price-box__underline-price dynamic-width-price">
                                NT$ 1,580
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tagging-wrap bottom-tag small-style">
                    <div class="tagging-box">
                        <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                            <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_jxd7k5wsyex8xtlmpoc0.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    嘉義｜阿里山國家森林遊樂區｜門票・套票（台灣籍限定）｜指定方案贈統一超商虛擬商品卡抵用金100元
                </h3>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.8</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">1874 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$200</span>
                            <span class="activity-card-price-box__underline-price dynamic-width-price">NT$300</span>
                        </div>
                    </div>
                </div>
                <div class="tagging-wrap bottom-tag small-style">
                    <div class="tagging-box">
                        <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                            <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_kpqk30edg6vmvjkjbjgp.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    日本環球影城門票
                </h3>
                <br />
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.8</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">5,555 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$1833</span>
                            @*<span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>*@
                        </div>
                    </div>
                </div>
                @*<div class="tagging-wrap bottom-tag small-style">
                        <div class="tagging-box">
                            <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_hi97iw5mnrarneohire2.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    東京迪士尼度假區一日護照
                </h3>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.8</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">9147 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$1833</span>
                            @*<span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>*@
                        </div>
                    </div>
                </div>
                @*<div class="tagging-wrap bottom-tag small-style">
                        <div class="tagging-box">
                            <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_xzckg1iq60tcpszvmjya.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    【獨家優惠】東京豐洲 teamLab Planets TOKYO 門票
                </h3>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.7</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">1290 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$698</span>
                            @*<span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>*@
                        </div>
                    </div>
                </div>
                <div class="tagging-wrap bottom-tag small-style">
                    <div class="tagging-box">
                        <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                            <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_kpqk30edg6vmvjkjbjgp.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    日本環球影城 Express Pass 快速通關券7
                </h3>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.8</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">3929 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$2357</span>
                            @*<span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>*@
                        </div>
                    </div>
                </div>
                @*<div class="tagging-wrap bottom-tag small-style">
                        <div class="tagging-box">
                            <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>



        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_zq2dtc7izos2pqdokgog.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    加州迪士尼樂園＆迪士尼加州冒險樂園門票
                </h3>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.9</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">3548 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$3414</span>
                            <span class="activity-card-price-box__underline-price dynamic-width-price">NT$3615</span>
                        </div>
                    </div>
                </div>
                @*<div class="tagging-wrap bottom-tag small-style">
                        <div class="tagging-box">
                            <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_mempqbckk4axnidjycqu.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    聖地亞哥海洋世界門票
                </h3>
                <br />
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.7</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">564 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$2457</span>
                            <span class="activity-card-price-box__underline-price dynamic-width-price">NT$3043</span>
                        </div>
                    </div>
                </div>
                <div class="tagging-wrap bottom-tag small-style">
                    <div class="tagging-box">
                        <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                            <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_mmai0x6awiozechow3kj.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    惠特尼美國藝術博物館門票
                </h3>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.6</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">36 則評價</span>
                        )
                    </span>
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$594</span>
                            <span class="activity-card-price-box__underline-price dynamic-width-price">NT$793</span>
                        </div>
                    </div>
                </div>
                <div class="tagging-wrap bottom-tag small-style">
                    <div class="tagging-box">
                        <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                            <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="">
            <img class="card-img-top" src="../Images/ProductListPageImages/landscape_u3e0wvtbkd9jnevkcarf.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="activity-card-title">
                    紐約范德堡一號大樓 SUMMIT
                </h3>
                <div class="page-activity-recommend-score">
                    <span class="page-activity-recommend-score-number">
                        <svg width="12" height="12" class="svg-icon"></svg>
                        <span class="score-rate">4.9</span>
                    </span>
                    <span class="page-activity-recommend-review-number">
                        (
                        <span class="review-number">22 則評價</span>
                        )
                    </span>
                    <br />
                </div>
                <div class="activity-card-bottom">
                    <div>
                        <div class="activity-card-price-box home-activity-card_price small-card">
                            <span class="activity-card-price-box__sell-price dynamic-width-price">NT$1346</span>
                            @*<span class="activity-card-price-box__underline-price dynamic-width-price">NT$</span>*@
                        </div>
                    </div>
                </div>

                @*<div class="tagging-wrap bottom-tag small-style">
                        <div class="tagging-box">
                            <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>
    </div>


</div>


