@model MIST143_Traveler.MViewModel.會員中心檢視最愛
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@using MIST143_Traveler.ViewComponents
@{
    ViewData["Title"] = "Myfavorites";
}
@section Styles{

}
<link href="~/css/會員中心/我的最愛卡片.css" rel="stylesheet" />
<link href="~/css/客戶中心訂單內容物.css" rel="stylesheet" />
<link href="~/css/客服中心.css" rel="stylesheet" />

@*<svg width='12' height='12' class='svg-icon'></svg>*@

<body>

    <article>
        <h3>我的最愛</h3>
        <div class="container row row-row-4">
            <div class="col-12 上面空間 d-flex justify-content-start">
                <div class='row asd'>

                    @{
                        var i = 0;
                        List<string> Dow = new List<string>();
                        foreach (var ab in Model.商品列表)//有錢字號才能用{}取得值 如果用MODEL.出來的物件不能用@會跟RAZOR混亂 所以用AB變數
                        {
                            Dow.Add($@"
                                        <div class='card cd'>
                                    <img class='card-img-top' src='https://localhost:44338/images/TravelProductPictures/{ab.TravelPicturePath}' height='120px' alt='Card image cap'>
                                        <div class='card-body'>
                                        <a href='/shopping/List?TravelProductId={ab.TravelProductId}&MembersId={ab.MembersId}'>
                                        <h3 class='activity-card-title'>
                                        {ab.TravelProductName}
                                        </h3>
                                        </a>
                                        <div class='page-activity-recommend-score'>
                                        <span class='page-activity-recommend-score-number'>

                                     
                                    </div>
                                    <div class='activity-card-bottom'>
                                        <div>
                                            <div class='activity-card-price-box home-activity-card_price small-card'>
                                                <span class='activity-card-price-box__sell-price dynamic-width-price'>NT${Convert.ToInt32(ab.Price)}</span>
                                                <div id='cancel'>

                                                    <button class='btn btn-warning' onclick='favC({ab.MyfavoritesID})'>移除收藏</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='tagging-wrap bottom-tag small-style'>
                                        <div class='tagging-box'>
                                            <div text='最優價格保證' color='#FF5B00' backgroundcolor='rgba(255, 240, 229, 255)' bordercolor='#FFF0E5' borderradius='4px' maxwidth='auto' class='tagging-tag small-style'>
                                                <div class='tagging-tag_custom' style='max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;'>最優價格保證</div>

                                            </div>

                                        </div>
                                    </div>
                                    </div>

                                    </div>

                                                    ");
                            i++;
                        }
                        @foreach (var g in Dow)//重複執行Dow內的資料
                        {

                            @Html.Raw(g);//將帶有HTML字串轉換成HTML輸出

                        }

                    }
                </div>





            </div>
        </div>
    </article>
</body>
<script>
     @{
        var OBJ = Accessor.HttpContext.Session.GetString(CDictionary.SK_Login);//取得登入者的SESSION
        var v = JsonSerializer.Deserialize<Member>(OBJ);


}
    $(function () {//document.ready(JQ寫法)等HTML的原件都讀取完才執行
        /* $("#cancel").load*/
    })
    function love(i) {
        var c = $("#heart"+i).attr('class')
        if (c == 'bi bi-heart') {
            $("#heart" + i).toggleClass("bi bi-heart-fill")
        }

        else
            $("#heart" + i).toggleClass("bi bi-heart")
    }
    async function favC(id)
    {
     await $.ajax({//等待awit做完再執行下面的GET
            url:'@Url.Action("LMyFavorites", "CustomerCenter")',
            method: 'Post',
            data:{id:id},

        }).then(function () {

        $('#cont').load('@Url.Action("LMyFavorites", "CustomerCenter",new {v.MembersId})')

        })

         $.get('@Url.Action("Fcount", "CustomerCenter",new {v.MembersId})',
           function (data) {
               $('#mm').text(data)
                console.log(data)
            }
           
         )
    }

        /*< i class="bi bi-heart-fill" ></i >*///實心
   /* <i id='heart{i}' onclick='love({i})' class='bi bi-heart'></i>*/
</script>


