@using MIST143_Traveler.Models
@model List<TravelProduct>

@{
    ViewData["Title"] = "Default";
}

@{

    <div class="basic-filter-left">
        <form>
            <div id="aeio">
                <label style="width:90%" for="start">選擇遊玩日期範圍:</label>

                <input type="date" @*onclick="datechoise()"*@ id="start123123" name="trip-start"
                       min="2022-10-01" max="2022-12-31" class="ipwidth" />
                <!--<input type="date"--> @*onclick="datechoise()"*@
                <!--id="start" name="trip-start"
                min="2022-10-01" max="2022-12-31" class="ipwidth" />-->
                <input type="button" id="showw" value="123456" />
            </div>
        </form>
        <form>
            <div class="d-flex justify-content-end" @*style="border:1px red solid"*@>
                <label for="list">排序方式:</label>
                <select name="list" id="choise">
                    <option value="1">最推薦</option>
                    <option value="2">最低價</option>
                    <option value="3">最熱賣</option>
                    <option value="4">新上架</option>
                    <option value="5">高評價</option>
                </select>
            </div>
        </form>
    </div>
}

