@using MIST143_Traveler.Models
@model List<TravelProduct>

@{
    ViewData["Title"] = "Default";
}
@{
    <p>所有可預訂的...<input type="button" id="datapicker" /></p>

    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="jqueryui/style.css">
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>





}