@using MIST143_Traveler.Models
@model List<TravelProduct>

@{
    ViewData["Title"] = "Default";
}
@{
    <label for="start">選擇遊玩日期:</label>

    <input type="date" id="start" name="trip-start"
           value="" class="ipwidth" min="">
}
@section Scripts{
    <script>

    </script>
}