@model MIST143_Traveler.MViewModel.CCouponCMid
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "CouponHome";
}


<link href="~/css/會員中心/COUPONHOME.css" rel="stylesheet" />
<link href="~/css/會員中心/優惠券樣式.css" rel="stylesheet" />


<body>
    <div class="contain col-12 cpage row align-items-center" style="width:100%;height:350px">
        <h1 class="display-4 d-flex justify-content-center">
            優惠專區
        </h1>

    </div>


    <div class="container col-12 d-flex">
        <div class="col-6 lef">

            <img src="~/Images/contact/雙11.jpg" />

            <img src="~/Images/contact/台WAY.jpg" />

        </div>

        <div class="col-6">
            <!--優惠券-->

            @{
                List<string> Coupon = new List<string>();
                foreach (var co in Model.所有)
                {
                    if (Model.已領過.Any(a => a.CouponId == co.CouponId))
                    {
                        
                        Coupon.Add($@"<div class='coupon coupon-wave-left coupon-wave-right coupon-yellow-gradient'>
                                        <div class='coupon-info coupon-info-right-dashed'>
                                            <div class='coupon-store'>{co.CouponName}</div>
                                            <div class='coupon-price'>折扣{(int)co.Discount}<span>優惠券</span></div>
                                            <div class='coupon-description'>訂單限滿{co.Condition}使用</div>
                                        </div>
                                        <div class='coupon-get' type='button' onclick='getcoupon({co.CouponId})'>

                                            <div class='coupon-get coupon-desc'>已領取</div>
                                        </div>
                                    </div>");


                    }
                    else
                    {
                        Coupon.Add($@"<div class='coupon coupon-wave-left coupon-wave-right coupon-yellow-gradient'>
                                                                <div class='coupon-info coupon-info-right-dashed'>
                                                                    <div class='coupon-store'>{co.CouponName}</div>
                                                                    <div class='coupon-price'>折扣{(int)co.Discount}<span>優惠券</span></div>
                                                                    <div class='coupon-description'>訂單限滿{co.Condition}使用</div>
                                                                </div>
                                                                <div class='coupon-get' type='button' onclick='getcoupon({co.CouponId})'>
                                                                    <div class='coupon-get coupon-desc'>副券</div>
                                                                    <div class='coupon-expiry-date'>到期日{co.ExDate}</div>
                                                                </div>
                                                            </div>");

                    }


                }

            }

            @foreach (var g in Coupon)
            {
                @Html.Raw(g);
            }
            <!--優惠券-->

        </div>

    </div>
</body>
@section Scripts{
    <script>
           @{
                var OBJ = Accessor.HttpContext.Session.GetString(CDictionary.SK_Login);//取得登入者的SESSION
                var v = JsonSerializer.Deserialize<Member>(OBJ);
            }



        function getcoupon(id) {

            console.log(id)
            $.ajax({
                url: '@Url.Action("Couponget", "Home")',
                data: { id: id },
                success: function (datas) {
                    if (!datas.res) {
                        Swal.fire({
                            icon: 'error',
                            title: '已經領過了哦',
                            text: datas.msg,
                        })
                        return;
                    }
                    let timerInterval
                    Swal.fire({
                        title: '領取成功!',
                        html: '',
                        timer: 1000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                            const b = Swal.getHtmlContainer().querySelector('b')
                            timerInterval = setInterval(() => {
                                b.textContent = Swal.getTimerLeft()
                            }, 100)
                        },
                        willClose: () => {
                            clearInterval(timerInterval)
                        }
                    }).then((result) => {
                        /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer) {
                            
                            location.reload()
                        }
                    })

                }
            })
        }

    </script>

}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>