@{
    ViewData["Title"] = "View";
}
@section Styles{
    <link href="@Url.Content("~/css/food.css")" rel="stylesheet" />
}

<article>
    <div class="dsf">
        <div class="ctn_1y57k" style="background: url('../Images/fnd_web_banner.jpg'); background-size: cover; background-repeat: no-repeat; ">
            <div class="inner_1PBzW">
                <h1 class="title_1hrvc">美食品嚐</h1>
            </div>
        </div>
        <div class="fnb-vertical-desktop-page_3JRaG">
            <section class="section_1b1ql">
                <div class="section-header_3hWVS">美食攻略</div>
                <div class="section-content_2hlEW">
                    <div>
                        <div class="_uglyposfix_swiper forcefix">
                            <div class="klk-card-swiper klk-card-swiper-ctrl-outside">
                                <div class="klk-card-swiper-prev-btn klk-card-swiper-prev-btn-disabled" style="display: none;">
                                    <i class="klk-icon klk-icon-icon_navigation_chevron_left_xs"></i>
                                </div>
                                <div class="klk-card-swiper-items" style="transform: translateX(-0px);">
                                    <div class="klk-card-swiper-item" style="width: 100%; margin-right: 0px;">
                                        <div>
                                            <div class="row-4_3Uq3b">
                                                <div class="card" style="width: 18rem;">
                                                    <img src="~/Images/zjadcgiio0bekjs10yfs.jpg" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <p class="card-text">【人氣推薦】吃到飽狂歡49折起！</p>
                                                    </div>
                                                </div>
                                                <div class="card" style="width: 18rem;">
                                                    <img src="~/Images/c1zpe5cxbvjnysuynha0.jpg" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <p class="card-text">【美食1+1】省錢小天才</p>
                                                    </div>
                                                </div>
                                                <div class="card" style="width: 18rem;">
                                                    <img src="~/Images/gsphi0ppz2etvxquiamv.jpg" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <p class="card-text">【獨家預售】NAGOMI 和食Buffet</p>
                                                    </div>
                                                </div>
                                                <div class="card" style="width: 18rem;">
                                                    <img src="~/Images/ltcnmkghr5n0leutmexg.jpg" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <p class="card-text">全台知名人氣連鎖餐廳懶人包</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Swiper_container">

                    <div class="swiper mySwiper3 container">
                        <div class="swiper-wrapper content">
                            <div class="swiper-slide card top_destinationCard">
                                <img src="~/Images/hxxqausn2zqiqiqdljda.jpg" />

                            </div>
                            <div class="swiper-slide card top_destinationCard">
                                <img src="~/Images/i6wt7uxn0qsdngl2toml.jpg" />

                            </div>
                            <div class="swiper-slide card top_destinationCard">
                                <img src="~/Images/mt4wihv2xcx6pclr8ri1.jpg" />

                            </div>
                            <div class="swiper-slide card top_destinationCard">
                                <img src="~/Images/pidzcmutujzduh8doq2r.jpg" />

                            </div>
                            <div class="swiper-slide card top_destinationCard">
                                <img src="~/Images/qa0sya4tev38gz3y1g0b.jpg" />

                            </div>

                            @*<div class="swiper-slide card top_destinationCard">
                                <img src="~/Images/top_destination/top_destination07.jpg" />
                                <p>新加坡</p>
                            </div>
                            <div class="swiper-slide card top_destinationCard">
                                <img src="~/Images/top_destination/top_destination08.jpg" />
                                <p>首爾</p>
                            </div>
                            <div class="swiper-slide card top_destinationCard">
                                <img src="~/Images/top_destination/top_destination09.jpg" />
                                <p>香港</p>
                            </div>*@                         
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div class="fnb-vertical-desktop-page_3JRaG">
            <section class="section_1b1ql">
                <div class="section-header_3hWVS">美食方案</div>
                <div class="section-content_2hlEW">
                    <div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="..." class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="..." class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="..." class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="..." class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="..." class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</article>
