@model MIST143_Traveler.Models.Member

@{
    ViewData["Title"] = "Createmember";
    Layout = null;
}

@section Sytles{
    <style>
    </style>
}
<h1>歡迎成為會員</h1>


<hr />

<form asp-action="Createmember">
    <div class="container">
        <div class="col-12">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="box_body d-flex  mb-2">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="inputs p-2 flex-fill">
                            @*<header>EMAIL帳號</header>*@
                            <label asp-for="Email" class="control-label"></label>
                            <input class="form-control" type="email" asp-for="Email" placeholder="123" aria-label="default input example" name="Email" id="Email" required>
                            <div><small id="sm" class="form-text text-muted"></small></div>
                        </div>

                    </div>
                    <div class="box_body d-flex  mb-2">
                        <div class="inputs p-2 flex-fill">
                            <label asp-for="MemberName" class="control-label"></label>
                            <input class="form-control" asp-for="MemberName" type="text" placeholder="名稱" aria-label="default input example" name="MemberName" id="Name" required>
                        </div>

                        <div class="inputs p-2 flex-fill">
                            <label asp-for="Phone" class="control-label"></label>
                            <input class="form-control" asp-for="Phone" type="text" placeholder="PHONE" aria-label="default input example" name="Phone" id="Phone" required>
                        </div>
                    </div>

                    <div class="box_body d-flex  mb-2">
                        <div class="inputs p-2 flex-fill">

                            <label asp-for="Password" class="control-label"></label>
                            <input class="form-control" asp-for="Password" type="password" placeholder="password" aria-label="default input example" name="Password" id="Password1" required>
                        </div>

                        <div class="inputs p-2 flex-fill">
                            <header>再次確認密碼</header>
                            <input class="form-control" type="password" placeholder="password" aria-label="default input example" id="Password2" required>
                            <small id="checkps" class="form-text text-muted"></small>
                        </div>
                    </div>


                    <div class="box_body d-flex  mb-2">
                        <div class="inputs p-2 ">
                            <header>居住縣市</header>
                            <select id="selectC" class="form-select" aria-label="Default select example" name="城市">
                            </select>
                        </div>

                        @*<div class="inputs p-2 ">
                <header>居住區域</header>
                <select class="form-select" aria-label="Default select example">
                    <option selected>大安區</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>*@

                        <div class="inputs p-2 flex-grow-1">
                            <header>地址</header>
                            <input class="form-control" asp-for="Address" type="text" placeholder="北投區111號" aria-label="default input example" name="Address" id="address" required>
                        </div>
                    </div>

                    <div class="box_body d-flex  mb-2">
                        <div class="inputs p-2 flex-fill">
                            <header>生日</header>
                            <input class="form-control" type="date" asp-for="BirthDay" value="1990-01-01" id="BirthDay" aria-label="default input example" name="BirthDay">
                        </div>

                        <div class="inputs p-2 flex-fill">
                            <header>生理性別</header>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Gender" value="男" id="Man" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    男
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Gender" value="女" id="Won">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    女
                                </label>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-success" id="sb1" onclick="BtnDemo()">Demo</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >關閉</button>
                        <input type="submit" class="btn btn-primary ccc">
                    </div>


                </div>
            </div>
        </div>

    </div>

</form>
@section Scripts{ 
    <script>
       
    </script>
}
<script>
    //DEMO
     function BtnDemo() {

            $('#Name').val("恆佑")
            $('#Email').val("ask@yahoo.com.tw")
            $('#Phone').val("0966666666")
            $('#Password1').val("a77777777")
            $('#Password2').val("a77777777")

            $('#address').val("和平東路二段106號11樓")
        }




    //const Btncre = () => {
    //    alert("註冊成功")
    //}
    //var Postdata = {
    //    Email=$("#Email").val(),
    //    MemberName=$("#MemberName").val(),
    //    Phone=$("#Phone").val(),
    //    Email=$("#Email").val(),
    //    Address=$("#Address").val(),
    //    BirthDay=$("#BirthDay").val(),
    //    Gender=$("#Gender").val()
    //}
    @*$.ajax({
        url: '@Url.Action("Createmember", "CustomerCenter")',

    })*@
     //抓資料庫城市資料
    const selCity = document.querySelector("#selectC")
    async function LoadCities() {
        /*  selCity.options.length = 0;*/
        
    let response = await fetch("@Url.Content("~/CustomerCenter/city")")
    let datas = await response.json()
    datas.forEach(city => {
    const opt = new Option(city)
    selCity.options.add(opt)
    })
    }
    LoadCities()
    //判斷密碼是否一致
    let emsm=document.querySelector("#sm")
    //let smps = document.querySelector("#checkps")
    //let ps1=document.querySelector("#password1")
    //let ps2 = document.querySelector("#password2")
    //ps2.addEventListener("blur", () => {
    //        if 
                
    //            (ps1 != ps2)
    //            smps.textContent = "密碼必須一致!";

    //})
    //判斷是否有人使用帳號
    let Em = document.querySelector("#Email")
    Em.addEventListener("blur", async () => {
        let response = await fetch("@Url.Content("~/CustomerCenter/CheckPas")" + `?Email=${Em.value}`)
            let datas = await response.text()
            emsm.textContent = datas

    })

</script>
@*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

