@model MIST143_Traveler.Models.Member

@{
    ViewData["Title"] = "Createmember";
    Layout = null;
}
<link href="~/css/會員中心/註冊光箱.css" rel="stylesheet" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />


@section Sytles{
    <style>
    </style>
}

<h1>成為會員</h1>


<hr />
<form id="form" method="post">
    <div class="container">
        <div class="col-12">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="box_body d-flex  mb-2">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="inputs p-2 flex-fill">
                            <label class="control-label">Email(登入帳號)</label>
                            <input class="form-control" type="email" for="Email" placeholder="aaaaa@gmail.com" aria-label="default input example" name="Email" id="Email">
                            @*<div><small id="sm" class="form-text text-muted"></small></div>*@
                        </div>

                    </div>
                    <div class="box_body d-flex  mb-2">
                        <div class="inputs p-2 flex-fill">
                            <label class="control-label">姓名</label>
                            <input class="form-control" asp-for="MemberName" type="text" placeholder="名稱" aria-label="default input example" name="MemberName" id="Name">
                        </div>

                        <div class="inputs p-2 flex-fill">
                            <label class="control-label">連絡電話</label>
                            <input class="form-control" asp-for="Phone" type="text" placeholder="PHONE" aria-label="default input example" name="Phone" id="Phone">

                        </div>
                    </div>

                    <div class="box_body d-flex  mb-2">
                        <div class="inputs p-2 flex-fill">

                            <label class="control-label">密碼</label>
                            <input class="form-control" asp-for="Password" type="password" placeholder="password" aria-label="default input example" name="Password" id="Password1">
                            <i id="checkEye" class="fas fa-eye"></i>
                        </div>

                        <div class="inputs p-2 flex-fill">
                            <header>再次確認密碼</header>
                            <input class="form-control" type="password" placeholder="password" aria-label="default input example" id="Password2" name="Password2">
                            <small id="checkps" class="form-text text-muted"></small>
                            <i id="checkEye2" class="fas fa-eye"></i>
                        </div>
                    </div>


                    <div class="box_body d-flex  mb-2">
                        <div class="inputs p-2 ">
                            <header>居住縣市</header>
                            <select id="selectC" class="form-select Ccity" aria-label="Default select example" name="Cityname">
                            </select>
                        </div>


                        <div class="inputs p-2 flex-grow-1">
                            <header>地址</header>
                            <input class="form-control" asp-for="Address" type="text" placeholder="北投區111號" aria-label="default input example" name="Address" id="address">
                        </div>
                    </div>

                    <div class="box_body d-flex  mb-2">
                        <div class="inputs p-2 flex-fill">
                            <header>生日</header>
                            <input class="form-control" type="date" asp-for="BirthDay" value="1990-01-01" id="BirthDay" aria-label="default input example" name="BirthDay">
                        </div>

                        <div class="inputs p-2 flex-fill">
                            <header>生理性別</header>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Gender" value="男" id="sex" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    男
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Gender" value="女" id="sex">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    女
                                </label>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" onclick="BtnDemo1()">Demo重複帳號</button>
                        <button type="button" class="btn btn-success" id="sb1" onclick="BtnDemo2()">Demo所有資料</button>
                        @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>*@
                        <input type="submit" class="btn btn-primary ccc">
                    </div>


                </div>
            </div>
        </div>

    </div>

</form>
@section Scripts{

}
<link href="~/css/會員中心/validationEngine.jquery.css" rel="stylesheet" />
<script src="~/js/jquery.validate.inline.js"></script>

<script>

    //表單驗證

    $(function () {
        $(function () {
            $("#form").makeValidationInline();
        });
        $("#form").validate({
            onkeyup: function (element, event) {
                var value = this.elementValue(element).replace(/^\s+/g, "");
                $(element).val(value);
            },
            rules: {
                Email: {
                    required: true,
                    email:true
                },
                Phone: {
                    required: true,
                    minlength: 10,
                    maxlength:10,
                    number: true
                },
                Address: {
                    required: true,
                },
                MemberName: {
                    required: true,
                },
                Password: {
                    minlength: 8,
                    maxlength: 16,
                    required: true,
                },
                Password2: {

                    equalTo:"#Password1",
                    required: true,
                },


            },
            messages: {
                Email: {
                    required: '必填',
                    email:'Email格式不正確'
                },
                Phone: {
                    required: '必填',
                    minlength: '不得少於10位',
                    maxlength: '不得大於10位',
                    number: '電話需為數字'
                },
                Address: {
                    required: '必填',
                },
                MemberName: {
                    required: '必填',
                },
                Password: {
                    minlength: '不得少於8位',
                    maxlength: '不得大於16位',
                    required: '必填',
                },
                Password2: {

                    required: '必填',
                    equalTo:"密碼輸入不一致",
                },

            },
            submitHandler: function (form) {
                var Cdata = {
            Email: $("#Email").val(),
            MemberName: $("#Name").val(),
            Phone: $("#Phone").val(),
            Password: $("#Password1").val(),
            Password2: $("#Password2").val(),
            Cityname: $(".Ccity").val(),
            Address: $("#address").val(),
            BirthDay: $("#BirthDay").val(),
            Gender: $("input[type=radio][name=Gender]:checked").val(),
        }
        $.ajax({
            url: '@Url.Action("Createmember", "CustomerCenter")',
            method: 'Post',
            dataType: 'Json',
            data: { CCC: Cdata },
            success: function (datas) {
            if (!datas.res) {
            Swal.fire({
            icon: 'error',
            title: '輸入錯誤',
            text: datas.msg,

            })
            return;
            }


            let timerInterval
            Swal.fire({

            title: '註冊成功!',
            html: '即將導入登入畫面',
            timer: 2000,
            timerProgressBar: true,
            didOpen: () => {
            Swal.showLoading()
            const b = Swal.getHtmlContainer().querySelector('b')
            timerInterval = setInterval(() => {
            b.textContent = Swal.getTimerLeft()
            }, 100)
            },
            willClose: () => {
            clearInterval(timerInterval)

            }
            }).then(function (result) {
            window.location.href = "@Url.ActionLink("newLoginpag", "CustomerCenter")";
            })
            }
            })
            /*form.submit();*/
            }
            })
            })
         
            //DEMO
    function BtnDemo1() {
        $('#Email').val("d555@gmail.com")
    }
            function BtnDemo2() {

            $('#Name').val("陳小華")
                $('#Email').val("msit143-8customer@outlook.com")
            $('#Phone').val("0966666666")
            $('#Password1').val("a77777777")
            $('#Password2').val("a77777777")

            $('#address').val("和平東路二段106號11樓")
            }

            $("#checkEye").click(function ()
            {
            if ($(this).hasClass('fa-eye')) {
            $("#Password1").attr('type', 'text');
            }
            else {
            $("#Password1").attr('type', 'password');
            }
            $(this).toggleClass('fa-eye').toggleClass('fa-eye-slash');
            });

            $("#checkEye2").click(function () {
            if ($(this).hasClass('fa-eye')) {
            $("#Password2").attr('type', 'text');
            }
            else {
            $("#Password2").attr('type', 'password');
            }
            $(this).toggleClass('fa-eye').toggleClass('fa-eye-slash');
            });


            async function LoadCities() {
            /*  selCity.options.length = 0;*/
            //抓資料庫城市資料
            let selCity = document.querySelector("#selectC")
            let response = await fetch("@Url.Content("~/CustomerCenter/city")")
            let datas = await response.json()
            datas.forEach(city => {
            const opt = new Option(city)
            selCity.options.add(opt)
            })
            }
            LoadCities()
            //判斷是否有人使用帳號

            @*function EMM() {
            let emsm=document.querySelector("#sm")
            let Em = document.querySelector("#Email")
            Em.addEventListener("blur", async () => {
            let response = await fetch("@Url.Content("~/CustomerCenter/CheckPas")" + `?Email=${Em.value}`)
            let datas = await response.text()
            emsm.textContent = datas
            })
            }
            EMM()*@
   
            function ccclear()
            {
            console.log(123)
                $(".formError").addClass("ajaxSubmit")
                location.reload()
            }


</script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

