@model MIST143_Traveler.Models.Member
@{
    ViewData["Title"] = "LoginModal";
    Layout = null;


}





    <h1>歡迎</h1>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">使用者帳號</label>
        @* <input type="text" class="form-control" id="Actemail" placeholder="name@example.com">*@
        @Html.TextBox("Email", "", new { @class = "form-control", id = "Actemail", placeholder = "name@example.com" })
        <small id="sm" class="form-text text-muted"></small>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">使用者密碼</label>
        @* <input type="password" class="form-control" id="Pas" placeholder="password">*@
        @Html.TextBox("Password", "", new { @class = "form-control", id = "Pas", placeholder = "password", type = "password" })
    </div>
    <div class="modal-footer mx-auto">
        <div style="margin-right:150px;">
            <span>
                <label>
                    <span>
                        <input type="checkbox" />
                    </span>
                    <span>記住我</span>
                </label>
            </span>
        </div>
        <button type="submit" class="btn btn-primary" id="btnlogin">登入</button>
        <button type="button" class="btn btn-success" id=" demo" onclick="DemoValue()">Demo</button>
        <a href="@Url.Content("~/CustomerCenter/Forgetpas")" class="btn-outline-dark">忘記密碼?</a>

    </div>
   
    @*}*@
    @section Scripts {
        <script>
            //const login = document.querySelector("#btnlogin");
            //login.addEventListener("")
           
            

        </script>
    }

<script>
        const DemoValue = () => {
         let act = document.querySelector("#Actemail");
            let pas = document.querySelector("#Pas");
            Swal.fire(
                'Good job!',
                'You clicked the button!',
                'success'
            )
        act.value = "d555@gmail.com";
        pas.value = "a1234567";

    }
    const smtxt = document.querySelector("#sm")
    const formData = new FormData(document.userInfo);
    const xhr = new XMLHttpRequest()
    xhr.addEventListener("click", () => {

        const nnam = xhr.responseText

        xhr.open("POST", document.userInfo.action) //"/api/register"
        xhr.send(formData)
        alert(nnam)
    })
   
   

        
</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@
