

<input type="text" id="aa" />
<button type="button" class="btn btn-success" id="sb1" onclick="BtnDemo()">Demo</button>

@section Scripts {
    <script>
        //DEMO

        function BtnDemo() {

            $('#aa').val("恆佑")
          
    }
    </script>
}