@model IEnumerable<MIST143_Traveler.ShoppingViewModel.CtestViewModel>
@*@model MIST143_Traveler.ShoppingViewModel.CtestViewModel*@

@{
    ViewData["Title"] = "PayTest";
}

@foreach(var item in Model)
 {
<h3>@item.TravelProductId</h3>
}
