@model IEnumerable<MIST143_Traveler.ShoppingViewModel.CShoppingCartDetailViewModel>
@{
    ViewData["Title"] = "test";
}

<h1>test</h1>

@foreach (var item in Model)
{
    @*foreach (var item2 in item._CShoppingCartDetailViewModel) 
    {
        <h3>@item2</h3>
    }*@
}
