
@{
    ViewData["Title"] = "testPage";
}

<h1>testPage</h1>
<form method="post" action="testPagee">
    <input type="text" name="TravelProductId" value="1" />
    <input type="text" name="TravelProductName" value="名字" />
    <input type="submit" value="立即預定" class="btn btn-main ms-3" />
</form>
