
@model MIST143_Traveler.MViewModel.CProductMemberViewModel
@{
    ViewData["Title"] = "testPage";
}

<h1>testPage</h1>

@*@foreach (var item in Model.產品列表.FirstOrDefault().productpictures)
{
    <img src="https://localhost:44338/images/TravelProductPictures/@item.TravelPicture1" />
}*@

