@model MIST143_Traveler.MViewModel.CPhotoListViewModel
@{
    ViewData["Title"] = "testPage";
}

<h1>testPage</h1>

<img src="https://localhost:44338/images/TravelProductPictures/ @Model.proctphotos[0].TravelPicture1" />