
@section Styles{
    <link href="@Url.Content("~/css/ProductListPage2.css")" rel="stylesheet" />
}


<body>
    <script>
        function showButtonEvent() {
            var content = document.getElementById("text");
            document.getElementById("changeText").textContent = content.value;
        }
        function tmenu(number) {
            var menu = document.getElementById("menu-" + number);
        }
    </script>
    <article>
        <div style="background: url('../Images/ProductListPageImages/category.jpg');background-size: cover;height: 216px;top: 50%;">
            <div class="rwd-experience-header-main-container">
                <div class="rwd-header-container">
                    <div class="experience-title-and-location-button">
                        <div class="content">
                            <h1 class="content_text">玩樂</h1>
                            <p>探索景點、行程等</p>
                        </div>
                    </div>
                    <div class="banner-search-box ban-sea-box ban-box">
                        <span class="bi-search"></span>
                        <input type="search"
                               name=""
                               id="text"
                               placeholder="探索全球目的地/活動" />
                        <button type="button" onclick="showButtonEvent()">搜尋</button>

                    </div>
                </div>

            </div>
        </div>
        <div class="search-page-breadcrumb search-breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Content("~/Home/Index")">首頁</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Content("~/ProductListPage/ProductListHomePage")">玩樂</a></li>
                    <li class="breadcrumb-item active" aria-current="page">搜尋結果</li>
                </ol>
            </nav>
        </div>
        <div class="main-content search-main-content">
            <p class="search-result-title">以下是與「 <a id="changeText"></a>」的體驗</p>
            <div class="category-tree-and-activity-list js-category-tree-and-activity-list">
                <div class="destinations-category-tree">
                    <div class="contain containerp">
                        <div class="tree-list-item">
                            <div class="title">目的地</div>
                            <div class="js-range-tree-spm">
                                <div class="klk-tree klk-tree-checkable klk-tree-multiple">
                                    <div class="klk-tree-node">
                                        <div class="klk-tree-node-inner">
                                            <div class="form-check" onclick="tmenu(1)";>
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                <label id="menu-1" class="form-check-label" for="flexRadioDefault1">
                                                    東亞
                                                </label>
                                            </div>
                                        </div>
                                        <div class="klk-tree-node-inner">
                                            <div class="form-check" onclick="tmenu(2)";>
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                                                <label id="menu-2" class="form-check-label" for="flexRadioDefault2">
                                                    東南亞
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    </article>
</body>