
.search_area{
    padding: 60px 0;
}
.search_area_contant{
    margin: 0 auto;
    width: 1040px;
}


.textmm{
    margin-bottom: 50px;
    font-size: 30px;
}
.form-control{
    display: inline;
    width: 70%;
}
a{
    text-decoration:none;
}
.accordion-item{
  border: aqua;
}

.小愛心 {
    background: url('/Images/contact/llove.png')no-repeat;
    background-size: cover;
    height: 100%;
    
}
.bi bi-heart-fill {
    color: red;
    
}
.邊框:focus{
    outline:0;
    outline:none;
}

.line:focus {
    outline: 0;
    outline: none;
}
.我的最愛:focus {
    outline: 0;
}
/*a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}*/
.我的最愛:active, .我的最愛:focus {
    outline: 0;
    border: none;    
}
.btn:active, .btn:focus {
    outline: 0;
    border: none;
}