
.error {
    color: red;
    /*margin-left: 5px;*/
}

#checkEye {
    position: absolute;
    top: 50%;
    right: 420px;
    transform: translateY(10%);
}
#checkEye2 {
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translateY(10%);
}